.blog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #F5F5F5;
}

.blog h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: #000;
}

.blog-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.blog-post {
  flex: 1;
  background-color: #113D3C;
  color: white;
  padding: 40px;
  display: flex;
  align-items: center;
  border-top-right-radius: 100px;
  margin-right: 30px;
}

.blog-post p {
  font-size: 18px;
  line-height: 1.6;
}

.blog-image {
  flex: 1;
}

.book-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .blog-section {
    flex-direction: column;
  }
  .blog-post {
    margin-right: 0;
    margin-bottom: 20px;
  }
}